@import url('https://fonts.googleapis.com/css2?family=Unkempt:wght@400;700&display=swap');

:root {
    --color-bg: #1f2a38;
    ;
    --color-bg2: #34495e;
    --color-bg3: #2c3e50;

    --color-white: #fff;
    --color-light: rgba(255, 255, 255, 0.564);
    --color-black: #000;

    --color-primary: #3498db;
    --color-accent: #036ce5;
    --color-success: #27ae60;
    --color-warning: #f39c12;
    --color-danger: #aa2d20;
    --color-danger-darker: #f757426b;

    --transition: all .5s ease;

    --container-lg: 86%;
    --container-md: 90%;
    --container-sm: 96%;

    --font-type-normal: "Poppins", "sans-serif";
    --font-type-second: "Unkempt", cursive;
}


* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
    scroll-behavior: smooth;

}

/*=============== SCROLL BAR ===============*/

::-webkit-scrollbar {
    width: .3rem;
    background-color: var(--color-primary-variant);
}

::-webkit-scrollbar-thumb {
    background-color: var(--color-primary);
}

::-webkit-scrollbar-thumb:hover {
    background-color: var(--color-success);

}



body {
    font-family: var(--font-type-normal);
    line-height: 1.7;
    color: var(--color-white);
    background: var(--color-bg);
    text-transform: capitalize;
}

section {
    padding: 6rem 0;
}

section h2 {
    text-align: center;
    margin-bottom: 4rem;
}

a {
    color: var(--color-light);
}

h1 {
    font-size: 3.3rem;
}

h2 {
    font-size: 2.4rem;
}

h3 {
    font-size: 1.8rem;
}

h4 {
    font-size: 1.5rem;
}

img {
    width: 100%;
    display: block;
    object-fit: cover;
}

.container {
    width: var(--container-lg);
    margin: 0 auto;
}

.heading {
    text-align: center;
    margin-bottom: 3rem;
    position: relative;
    font-family: var(--font-type-second);
    color: var(--color-light);
    font-size: 3rem;
}


.btn {
    display: inline-block;
    background: var(--color-white);
    color: var(--color-black);
    padding: 1rem 2rem;
    border: 1px solid transparent;
    border-radius: .6rem;
    font-weight: 500;
    transition: var(--transition);
}

.btn:hover {
    background: transparent;
    color: var(--color-white);
    border-color: var(--color-white);
}

.btn-primary {
    background: var(--color-danger);
    color: var(--color-white);
}


/* ===========NAVBAR SECTION */

nav {
    background: transparent;
    width: 100vw;
    height: 5rem;
    position: fixed;
    top: 0;
    z-index: 11;
}


.window-scroll {
    background: var(--color-primary);
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
}

.nav-container {
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-container a h4 {
    color: var(--color-success);
    font-family: var(--font-type-second);

}

.nav-container a h4 b {
    color: var(--color-danger);

}


nav button {
    display: none;
}

.nav-menu {
    display: flex;
    align-items: center;
    gap: 4rem;
}

.nav-menu a {
    font-size: .9rem;
    transition: var(--transition);
}

.nav-menu a:hover {
    color: var(--color-bg2);
}

/* =========HEADER SECTION */


header {
    position: relative;
    top: 6rem;
    overflow: hidden;
    height: 70vh;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 6rem;
}


.header-container {
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    gap: 6%;

}

.header-right {
    padding: 2rem;
}

.header-right h3 {
    color: var(--color-warning);
    font-weight: 300;
    font-size: 1.5rem;

}

.header-right h1 {
    font-family: var(--font-type-second);
    font-size: 3.5rem;
    line-height: .9;
    margin-bottom: 2rem;
}

.header-right h1 b {
    color: var(--color-success);
    font-size: 3.8rem;
}

.header-right h1 b span {
    color: var(--color-danger);
}

.header-right p {
    margin-bottom: 2rem;

}



/* icons container */

.icons-container {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(18rem, 1fr));
    gap: 3rem;
    padding: 0 6%;
    justify-content: center;
}

.icons-container .icons {
    display: flex;
    align-items: center;
    justify-content: center;

}


.icons-container .icons i {
    font-size: 3.3rem;
    color: var(--color-success);
    margin-right: 1rem;
}

.icons-container .icons h3 {
    color: var(--color-danger);
}

.icons-container .icons p {
    color: var(--color-light);
    padding: 0 .6rem;
    line-height: .6;
}


/* about us */

.about-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 9%;
    align-items: center;
}

.about-container article {
    padding: 1rem;
}

.about-container article h3 {
    font-family: var(--font-type-second);
    color: var(--color-success);
}


/* services  section  */

.services-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.services-container .service {
    display: flex;
    align-items: center;
    position: relative;
    margin: 1rem auto;
    border: 1px solid var(--color-bg3);
    border-radius: 2rem;
    padding: .6rem 2rem;
}

.services-container .service i {
    margin-right: 1rem;
    font-size: 2.7rem;
    color: var(--color-success);
}

.services-container .service h3 {
    font-family: var(--font-type-second);
    line-height: 1;
    margin-bottom: .6rem;
    color: var(--color-danger);
}

.services-container .service p{
    font-size: 1rem;
    line-height: 1;
    font-weight: 100;
    color: var(--color-light);

}